<%- include("partials/header") -%>
<h1>Home</h1>

<p><%= Hcontent %></p>
 

     
  <% newPost.forEach(function(post){ %>

    <h1><%= post.title %></h1>
    <p><%= post.textarea.substring(0, 100) + " ..."%> 
      <a href="/news/<%=post.title%>">Read More</a>
    </p>

   <%})%>

<%- include("partials/footer") -%>